# .env.production.template
# ===== ОСНОВНЫЕ НАСТРОЙКИ =====
SECRET_KEY=сгенерируйте-случайную-строку
DB_PASSWORD=надежный-пароль-для-postgres

# ===== РЕЖИМ АУТЕНТИФИКАЦИИ =====
AUTH_MODE=local

# ===== НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К СЕТЕВОМУ ОБОРУДОВАНИЮ =====
DEVICE_USERNAME=admin
DEVICE_PASSWORD=admin
DEVICE_ENABLE=

# ===== НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К СЕРВЕРАМ =====
SERVER_USERNAME=root
SERVER_PASSWORD=
# SERVER_KEY_FILE=/app/ssh_keys/server_key.pem

# ===== GUNICORN =====
GUNICORN_WORKERS=1
GUNICORN_THREADS=10

# ===== CELERY =====
CELERY_WORKERS=1
CELERY_CONCURRENCY=1

# ===== LDAP (если AUTH_MODE=ldap) =====
# LDAP_SERVER=ldap://dc.company.local
# LDAP_DOMAIN=company
# LDAP_BASE_DN=DC=company,DC=local
# LDAP_BIND_USER=CN=service,OU=Users,DC=company,DC=local
# LDAP_BIND_PASSWORD=password
# AD_GROUP_ADMIN=CN=Network-Admins,OU=Groups,DC=company,DC=local
# AD_GROUP_OPERATOR=CN=Network-Operators,OU=Groups,DC=company,DC=local
# AD_GROUP_VIEWER=CN=Network-Viewers,OU=Groups,DC=company,DC=local

# ===== БАЗА ДАННЫХ =====
# SQLite для разработки
#DATABASE_URL=sqlite:///devices.db
DATABASE_URL=postgresql://kontrollka:${DB_PASSWORD}@postgres:5432/kontrollka

# ===== HTTPS (опционально для запуска через app.py, в проде чтение сертификатов через CMD в dockerfile) =====
#SSL_CERT=certs/cert.pem
#SSL_KEY=certs/key.pem

# Какую версию SNMP использовать по умолчанию
SNMP_VERSION=v2c

# Для v1/v2c
SNMP_COMMUNITY=secure_community_readonly

# Для v3 (если SNMP_VERSION=v3)
SNMP_V3_USER=svc_snmp
SNMP_V3_AUTH_PROTOCOL=SHA
SNMP_V3_AUTH_PASSWORD=AuthP@ssw0rd
SNMP_V3_PRIV_PROTOCOL=AES
SNMP_V3_PRIV_PASSWORD=PrivP@ssw0rd

# UCMDB Discovery Schedule (cron format)
# Минуты Часы Дни_месяца Месяцы Дни_недели
DARIA_SCHEDULE=0 2 * * 0

# Neo4j
NEO4J_PASSWORD=admin

# ClickHouse
CLICKHOUSE_PASSWORD=admin

# TFTP сервер (имя контейнера в Docker сети)
TFTP_SERVER=kontrollka_tftp
TFTP_DIR=/var/tftpboot

# ===== REDIS (для координации WebSocket между workers) =====
REDIS_URL=redis://redis:6379