# Сборка
dist/
build/
*.spec

# Python
__pycache__/
*.pyc
.venv/

# Настройки
instance/
device_settings.json
*.db
*.log

# Секреты
.env
.env.production
.secret_key

# Данные
data/
logs/
certs/*.key
certs/*.pem
.idea
