[defaults]
deprecation_warnings = False
host_key_checking = False
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o KexAlgorithms=diffie-hellman-group14-sha1,diffie-hellman-group14-sha256 -o HostKeyAlgorithms=+ssh-rsa